.wrapper-fullpost {
  width: 100%;
  max-width: 800px;
  min-height: 400px;
  background: radial-gradient(#ffeeaa, #ffaa88);
  margin: 0 auto;
}

.fullpost {
  width: 100%;
  min-height: 300px;

  &__title {
    width: 100%;
    height: 50px;
    background: rgba(238, 223, 138, 0.858);
    box-sizing: border-box;
    padding: 10px;
    font-size: 24px;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    box-sizing: border-box;

    &__table {
      margin-left: 10px;

      td {
        padding: 5px;

      }
    }
  }
}


@media (max-width: 822px) {
  .fullpost__content {
    flex-wrap: wrap;
  }

  .fullpost__content__table {
    margin-top: 15px;
  }
}

